<!DOCTYPE html>
<html>
<head>
    <title>云智慧-意见反馈</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>


<form id="feedback">
    <select id="category">
        <option value="">选择分类</option>
    </select>
    <textarea id="feedback_text" cols="30" rows="10"></textarea>

    <div id="tip" style="display: none;color: red;"></div>
    <button type="submit">提交</button>

</form>

<script src="/js/lib/jquery-1.12.0.min.js"></script>
<script src="/js/feedback.js"></script>

</body>
</html>
