<!DOCTYPE html>
<html>
<head>
    <title>云智慧-用户登录</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>


<form id="login">
    <input type="text" id="username" value="黑豆" placeholder="用户名"/>
    <br/>
    <input type="password" id="password" value="123456" placeholder="密码"/>
    <br/>

    <div id="tip" style="display: none;color: red;"></div>
    <br/>

    <button type="submit">提交</button>

</form>

<script src="/js/lib/jquery-1.12.0.min.js"></script>
<script src="/js/login.js"></script>

</body>
</html>
